name: cd
on:
  push:
    branches: [main]
jobs:
  Deploy:
    name: deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Make script executable
        run: chmod +x ./scripts/buildprod.sh

      - name: Run deploy script
        run: ./scripts/buildprod.sh
       
      
    
